//Funcion
//Que permita multiplicar un valor por mi unidad estandar
@function size($value){
    @return $value * $unit;
}

//Mixin nos permite crear bloques de estilos que podemos adjuntar en nuestros estilos
@mixin reset-pm{
    margin:0;
    padding:0;
}
.row{
    display:flex;
    align-items: center;
    .col{
        width:50%;
    }
    .col-30{
        width:30%;
    }
    .col-70{
        width:70%;
    }
}
.m-auto{
    margin:0 auto;
}
@for $i from 1 to $limit{
    .m-#{$i}{
        margin:$i * $unit;
    }
}
@for $i from 1 to $limit{
    .p-#{$i}{
        padding:$i * $unit;
    }
}
@for $i from 1 to $limit{
    .py-#{$i}{
        padding:$i * $unit 0;
    }
}
@for $i from 1 to $limit{
    .w-#{$i}{
        width:$i * 25%;
    }
}